body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ccc8c8;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
}

.projects {
    margin-bottom: 20px;
}

.projects img {
    width: 20px;
    height: auto;
}

footer {
    background-color: #f1f1f1;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    width: 100%;
}

#birdsPic, #hallPic {
    width: 20%;
    height: auto;
    align-items: center;
    align-content: center;
    margin: 20px;
}
